<h1>Hello, here is your list of exercises!</h1>

<form method="post">
	Exercise:	
	<input type="text" name="exercise" id="exercise"><br>
	Reps:	
	<input type="number" name="reps" id="reps "min="1" max="10000"><br>
	Weight:	
	<input type="number" name="weight" id="weight "min="1" max="10000"><br>
	Date:	
	<input type="date" name="date" id="date"><br>
	lbs (checked), Kg (unchecked):	
	<input type="checkbox" name="measurement" id="cb" value="Pounds"><br>
	<input type="submit" name="Add Item" value="Add Item">
</form>